
.custom-imgage img {
    width: 100%;
}

.navbar li a,i {
    color: white !important;
}

.nav-item a:hover {
    color: orange !important;
}
.container-fluid padding img{
    width: 20px;
}

.custom-our-business {
    color: white;
    display: flex;
    font-size: 15px;
}
.left-image {
    width: 1000px;
    height: 400px;
    background-image: url('Education2.jpg');
}
.custom-our-business .left-image img{
    border-radius: 20px;
    width: 30px;
    display: flex;
    margin-bottom: 20px;
    margin-left: 590px;
}

.custom-our-business .right-image {
    width: 1000px;
    height: 400px;
    background-image: url('Communication.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-our-business .right-image .colum{
    display: flex;
}
.custom-our-business .right-image .custom-image img{
    border-radius: 30px;
    width: 50px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 10px;
}    

.custom-our-business .right-image .custom-text{
width: 500px;
font-size: 10px;

}
 input[type="text"]{
     font-size:10px;
 }

button[type=submit]{
    color: white;
    float: right;
    width: 150px;
    font-size: 12px;
   
}

input[type="email"] {
    width: 200px;
    height: 25px;
    padding-right: 50px;
    border-radius: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid grey;
    background: black;
    color: grey;
}


input[type="submit"] {
    margin-left: -60px;
    height: 22px;
    width: 56px;
    border: 0px;
}

footer {
    background-color: black;
    color: white;
}

footer hr {
    border: 1px solid white;
}

footer ul li {
    list-style-type: none;
}